/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL FONTS */
body {
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
  background: #ececec;
  color: #1a1a1a;
  /* overflow: hidden; */
}

/* ROOT WRAPPER */
/* .app-root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
} */

/* SCROLLBAR BEAUTIFICATION */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 1px;
}
::-webkit-scrollbar-track {
  background: transparent;
  background-color: black;
}
